<div id="article-banner">
  <h2>做一个熟练切换单推的 DD</h2>
  <p class="post-date">「我要一进去就看到一屏幕的主播」</p>
</div>
<main class="app-body project-app">
  <div id="streaming-rooms-hr" style="visibility: hidden;">
    <hr/>
  </div>
  <div class="card-container" id="streaming-rooms"></div>

  <div id="looping-rooms-hr" style="visibility: hidden;">
    <hr/>
  </div>
  <div class="card-container" id="looping-rooms"></div>

  <div id="closed-rooms-hr" style="visibility: hidden;">
    <hr/>
  </div>
  <div class="card-container" id="closed-rooms"></div>
</main>
<script>
  var LiveStatus = {
    CLOSED: 0,
    STREAMING: 1,
    LOOPING: 2,
    ERROR: 3,

    text: {
      0: "未开播",
      1: "正在直播",
      2: "轮播中",
      3: "服务器出错啦～",
    },

    divId: {
      0: "#closed-rooms",
      1: "#streaming-rooms",
      2: "#looping-rooms",
    }
  };

  /**
   * Get live room information
   */
  function getRoomInfo(mid, callback) {
    var apiUrl = "https://api.vtbs.moe/v1/detail/" + mid;

    $.ajax({
      url: apiUrl,
      type: 'get',
      success: function(data) {
        try {
          callback(data);
        } catch (ignore) {
          console.log(ignore);
        }
      },
      error: function(data) {
        callback(null);
      }
    });
  }

  (function() {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header');
    
    // obtain vtuber status
    <% for(index in theme.vtubers) { %>
      <% 
        let v = theme.vtubers[index];
        let name = v["name"];
        let mid = v["mid"];
      %>

      getRoomInfo("<%= mid %>", function(res) {
        var title = res.title.toString();
        var status = res.liveStatus;
        if (title.indexOf("的投稿视频") >= 0) {
          status = LiveStatus.LOOPING;
        }
        var uname = res.uname;
        var avatar = res.face;
        var liveUrl = "https://live.bilibili.com/" + res.roomid;
        var statusText = status == LiveStatus.STREAMING ? title : LiveStatus.text[status];
        var divId = LiveStatus.divId[status];

        var cardHtml = 
          '<section class="project-card">' + 
            '<a class="card-wrap" href="' + liveUrl + '" target="_blank">' +
              '<div class="card-header" data-name="' + uname + '"></div>' +
              '<div class="card-body">' +
                '<img class="card-avatar" src="' + avatar + '"/>' +
                '<h3 class="card-title">' + uname + '</h3>' +
                '<p class="card-description">' + statusText + '</p>' +
              '</div>' +
              '<div class="card-footer">' +
                '<span><i class="fa fa-star"></i>'+ res.follower.toString() +'</span>' +
                '<span><i class="fa fa-code-fork"></i>' + res.video.toString() +'</span>' +
              '</div>' +
            '</a>' +
          '</section>';
        
        var doc = $(divId);
        doc.html(doc.html() + cardHtml);

        $(divId + "-hr").show();

        $('.card-header').each(function() {
          var name = $(this).data('name');
          $(this).geopattern(name);
        });
      });

    <% } %>

  })()
</script>
